# Local variables.tf
variables.tf

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .vagrant files
**/.vagrant/*

# RubyMine files
**/.idea/*

# LaTeX temporary files
latex/resume.aux
latex/resume.log
latex/resume.out